
<mat-nav-list>
  <a mat-list-item (click)="openDialog(filter[0])">
    <span matListItemTitle>{{ "filter.filter1" | translate }}</span>
  </a>

  <a mat-list-item (click)="openDialog(filter[1])">
    <span matListItemTitle>{{ "filter.filter2" | translate }}</span>
  </a>

  <a mat-list-item (click)="openDialog(filter[2])">
    <span matListItemTitle>{{ "filter.filter3" | translate }}</span>
  </a>

  <a mat-list-item (click)="openDialog(filter[3])">
    <span matListItemTitle>{{ "filter.filter4" | translate }}</span>
  </a>
</mat-nav-list>
