<div class="wrapper">
  <mat-accordion class="accordion-styling">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question1" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer1" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question2" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer2" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question3" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer3" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question4" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer4" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question5" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer5" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question6" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer6" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question7" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer7" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question8" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer8" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question9" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer9" | translate }} </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "faq.question10" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "faq.answer10" | translate }} </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>


