
<!-- Photo Grid -->
<div class="row body-styling">
  <div class="column">
    <div class="text-styling">Hey! Ich bin Caro und ich bin Tattooartist seit 2019. </div>
    <img src="../../../assets/IMG_7522.JPG" style="width:100%">
    <img src="../../../assets/IMG_7524.JPG" style="width:100%">
  </div>
  <div class="column">
    <img src="../../../assets/IMG_7529.JPG" style="width:100%">
    <img src="../../../assets/IMG_7530.JPG" style="width:100%">
    <img src="../../../assets/IMG_7531.JPG" style="width:100%">
  </div>
</div>


