<div class="row">
  <div class="column">
    <img src="../../assets/images/img1.jpeg">
    <img src="../../assets/images/img2.jpeg">
    <img src="../../assets/images/img3.jpeg">
  </div>
  <div class="column">
    <img src="../../assets/images/img4.jpeg">
    <img src="../../assets/images/img7.jpeg">
    <img src="../../assets/images/img6.jpeg">
  </div>
  <div class="column">
    <img src="../../assets/images/img3.jpeg">
    <img src="../../assets/images/img5.jpeg">
    <img src="../../assets/images/img7.jpeg">
  </div>
  <div class="column">
    <img src="../../assets/images/img4.jpeg">
    <img src="../../assets/images/img2.jpeg">
    <img src="../../assets/images/img6.jpeg">
  </div>
</div>
