
<div class="wrapper">
  <div class="grid-container">
    <div class="info-card">
      <p class="headline">{{ "contact.instagramTitle" | translate }}</p>
      <p class="content">{{ "contact.instagram" | translate }}</p>
      <button mat-raised-button>{{ "contact.instagramButton" | translate }}</button>
    </div>
    <div class="info-card">
      <p class="headline">{{ "contact.mailTitle" | translate }}</p>
      <p class="content">{{ "contact.mail" | translate }}</p>
      <button mat-raised-button>{{ "contact.mailButton" | translate }}</button>
    </div>
    <div class="info-card">
      <p class="headline">{{ "contact.instagramTitle" | translate }}</p>
      <p class="content">{{ "contact.instagram" | translate }}</p>
      <button mat-raised-button>{{ "contact.instagramButton" | translate }}</button>
    </div>
    <div class="info-card">
      <p class="headline">{{ "contact.instagramTitle" | translate }}</p>
      <p class="content">{{ "contact.instagram" | translate }}</p>
      <button mat-raised-button>{{ "contact.instagramButton" | translate }}</button>
    </div>
  </div>

  <div class="wrapper">
    <img src="../../assets/images/anna-kolosyuk-D5nh6mCW52c-unsplash.jpg">
  </div>
</div>
