.spectrumBackground {
  background:
    linear-gradient(#ffd1cd, transparent),
    linear-gradient(to top left, #ffeb63, transparent),
    linear-gradient(to top right, #fcb882, transparent);
  background-blend-mode: screen;
  min-height: 100%;
}

.header-styling {
  position: relative;
  background-color: transparent !important;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
}

.logo-styling {
  font-family: Silom;
  color: #f54600;
  font-size: 10vw;
  line-height: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}

.logo-underline-styling {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #f54600;
  font-size: 2vw;
  line-height: 3vw;
  cursor: pointer;
}

.menu-styling {
  margin-top: 30px;
  border-top: dotted 5px blueviolet;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-styling {
  font-family: Helvetica, sans-serif;
  border-radius: 15px;
  color: #f54600;
  margin: 30px 10px 10px 10px;
  background-color: white;
  font-size: 16px !important;
}

.menu-button-styling:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.img1 {
  position: absolute;
  top: 30px;
  left: 8vw;
  width: 12vw;
}

.img2 {
  position: absolute;
  top: 30px;
  right: 12vw;
  width: 10vw;
}

