.wrapper {
  width: 100%;
}

img {
  height: 60vh;
  width: 88vw;
  object-fit: cover;
  margin: auto;
}

.button-wrapper {
  margin: 15px 0 0 0;
}

.action-button {
  border-radius: 15px;
  background-color: transparent;
  border: solid 1.5px mediumpurple;
  color: #7b26cb;
  box-shadow: none !important;
  padding: 10px 18px 10px 18px !important;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}

.comment-button {
}

.close-button {
  border: solid 1.5px lightgray;
  color: gray;
  margin-left: 15px;
}
