.footer-styling {
  background-color: transparent;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  color: hotpink;
}

button {
  color: hotpink;
  font-weight: lighter;
}

button:hover {
  font-size: medium;
  color: palevioletred;
}

.en-button, .de-button {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-button {
  min-width: 20px !important;
}
